body { font-family: Tahoma; background-color: #333333; }
h1, h2, h3, h4 { color: #CCCCCC; }
h1 { font-size: 1.2em; }

.description { color: #A9B9D3; font-style: italic; }
.flash { background: #cee5F5; }