<html>
<body>
	<h1>Create Fancy New Menu Item</h1>
	<h2>{{restaurant.name}}</h2>

	<form action="{{url_for('newMenuItem', restaurant_id=restaurant.id )}}" method = 'POST'>

		<p>Name:</p>
		<input type='text' size='30' name='name'>

		<p>Description:</p>
		<input type='text' size='30' name='description'>

		<p>Price:</p>
		<input type='text' size='30' name='price'>

		<p>Course:</p>
		<input type='text' size='30' name='course'>

		<input type='submit' value='Create'>

	</form>

	<a href= '{{url_for('showRestaurants')}}'>Cancel</a>

</body>
</html>