<html>
<head>
	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
	<div>
		<h1>Fancy Restaurants</h1>
		<h2>Here are your fancy options!</h2>
		
		{% if restaurants|length %}
		{% for restaurant in restaurants %}
		<div>
			<h3>{{restaurant.name}}</h3>

			{% if items|length%}
			{% for i in items %}
				{% if i.restaurant_id == restaurant.id %}
				<div>{{i.name}}</div></br>
				<div class="description"><i>{{i.description}}</i></div></br>
				<div>{{i.price}}</div></br></br>
				{% endif %}
			{% endfor %}
			{% else %}
				<div>There's nothing on the menu! What are you serving, air?? Not fancy!</div>
			{% endif %}
			<a href='{{url_for('showMenu',restaurant_id = restaurant.id)}}'>View Menu</a>
		</div>
		{% endfor %}
		{% else %}
				<div>There's no restaurants! Not fancy!</div>
		{% endif %}
	</div>
</body>
</html>